{%- for arg in args -%}
{%- if const is defined -%}const {% endif -%}
{%- if not nameOnly is defined -%}{{ include("detail/Type.jinja2", type = arg.valueType, documentName = documentName) }}& {%- endif %} {{ arg.name }}
{%- if not loop.last -%}, {% endif -%}
{%- endfor -%}