{% if isListType(type) -%}
    std::vector<{{ include("detail/Type.jinja2", type = type.valueType, documentName = documentName) }}>
{%- elif type.name == "i64" -%}
    std::int64_t
{%- elif type.name == "i32" -%}
    std::int32_t
{%- elif type.name == "i16" -%}
    std::int16_t
{%- elif type.name == "byte" -%}
    char
{%- elif type.name == "bool" -%}
    bool
{%- elif type.name == "float" -%}
    float
{%- elif type.name == "double" -%}
    double
{%- elif type.name == "binary" -%}
    std::vector<char>
{%- elif type.name == "string" -%}
    std::string
{%- else -%}
    {%- if type.name == "void" -%}
        void
    {%- elif isEmpty(type.namespace) -%}
        {%- if documentName is defined -%}
            naranja::generated::{{ documentName }}::{{ type.name }}
        {%- else -%}
           {{ type.name }}
        {%- endif -%}
    {%- else -%}
        naranja::generated::{{ type.namespace }}::{{ type.name }}
    {%- endif -%}
{%- endif %}