{%- if isPrimitive(arg) -%}
{# case for primitives like bool, i64 but also binary and string (meaning built-ins) #}
{{ writerName }}->WriteValue("{{ argName }}", {{ argName }});
{%- elif isListType(arg) -%}
{# case for lists #}
{
    auto {{ argName }}_{{ writerName }} = {{ writerName }}->WriteList("{{ argName }}", {{ argName }}.size());
    for (std::size_t i = 0; i < {{ argName }}.size(); ++i)
    {
        {{ include("detail/WriteArg.jinja2", documentName=documentName, writerName=argName + "_" + writerName, arg=arg.valueType, argName = argName + "[i]") }}    
    }
}
{%- elif isEnum(documentName, arg) -%}
{# case for enumerations #}
{{ writerName }}->WriteEnum("{{ argName }}", {{ argName }});
{%- else -%}
{# case for structures #}
{
    auto {{ argName }}_{{ writerName }} = {{ writerName }}->WriteObject("{{ argName }}");
    {%- for argMember in getStructureArgs(documentName, arg) -%}
    {{ include("detail/WriteArg.jinja2", documentName=documentName, writerName=argName + "_" + writerName, arg=argMember.valueType, argName = argName + "." + argMember.name) }}
    {%- endfor %}
}
{%- endif %}
